@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Poppins:wght@300;400;500;600&display=swap");

body {
  min-height: 100vh;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.polygon-red {
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}

.polygon-black {
  clip-path: polygon(25% 1%, 100% 0, 100% 100%, 0 100%);
}

.polygon {
  clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
}
